﻿@model Namarina2.ViewModels.WorkHour
@{
    ViewBag.Title = "Index";
}

<h2>Jam kerja untuk April 2013</h2>

@foreach (var m in Model.Teachers)
{
    <h3>@m.Name</h3>
        <ul>
            @foreach (var c in m.TeacherAssignments)
            {
                <li>
                @c.Class.Name  <input type="number" /> jam <strong>x</strong> [biaya per jam] <strong>+</strong><input type="number" /> hari <strong>x</strong> [uang transport] <strong>=</strong> [total] <br /><br />
                </li>
            }
            
        </ul>
}