﻿@model Namarina2.ViewModels.TeacherClass
@{
    ViewBag.Title = "Jadwal Mengajar";
}

<h3>Jadwal Mengajar</h3> 
<h2>@Model.TeacherName</h2>
@Html.Raw(string.Join("&nbsp; &diams; &nbsp;", Model.AssignedClassNames.ToArray()))

<form method="post" action="@Url.Action("AssignClass","Teacher")" id="assignclassform">
@Html.HiddenFor(m => m.TeacherId)
<table>
    <tr>
        <td><h2>Ballet</h2></td>
        <td><h2>Jazz</h2></td>
        <td><h2>Fitness</h2></td>
    </tr>
    <tr>
        <td style="vertical-align:top">
            <table>
                <tr>
                    <td><h3>General Graded</h3></td>
                    <td><h3>Vocational</h3></td>
                </tr>
                <tr>
                    <td style="vertical-align:top">
                        @foreach (var m in Model.BalletClasses.Where(m=>m.SubType == "Graded"))
                        {
                            <label for="rb-@m.ClassID"><input id="rb-@m.ClassID" type="checkbox" name="graded" value="@m.ClassID"> @m.Name</label> <br />
                        }
                    </td>
                    <td style="vertical-align:top">
                        @foreach (var m in Model.BalletClasses.Where(m=>m.SubType == "Vocational"))
                        {
                            <label for="rb-@m.ClassID"><input id="rb-@m.ClassID" type="checkbox" name="vocational" value="@m.ClassID"> @m.Name</label> <br />
                        }
                    </td>
                </tr>
            </table>
        </td>
        <td style="vertical-align:top">
            <table>
                <tr>
                    <td><h3>Jazz Ballet</h3></td>
                    <td><h3>Jazz Hip Hop</h3></td>
                </tr>
                <tr>
                    <td style="vertical-align:top">
                        @foreach (var m in Model.JazzClasses.Where(m=>m.SubType == "Ballet"))
                        {
                            <label for="rb-@m.ClassID"><input id="rb-@m.ClassID" type="checkbox" name="jazzballet" value="@m.ClassID"> @m.Name</label> <br />
                        }
                    </td>
                    <td style="vertical-align:top">
                        @foreach (var m in Model.JazzClasses.Where(m=>m.SubType == "Hiphop"))
                        {
                            <label for="rb-@m.ClassID"><input id="rb-@m.ClassID" type="checkbox" name="jazzhiphop" value="@m.ClassID"> @m.Name</label> <br />
                        }
                    </td>
                </tr>
            </table>
        </td>
        <td style="vertical-align:top">
            <table>
                <tr>
                    <td><h3>Hip hop</h3></td>
                </tr>
                 <tr>
                    <td style="vertical-align:top">
                         @foreach (var m in Model.FitnessClasses)
                        {
                            <label for="rb-@m.ClassID"><input id="rb-@m.ClassID" type="checkbox" name="tambahan" value="@m.ClassID"> @m.Name</label> <br />
                        }
                    </td>
                </tr>
             </table>
        </td>
    </tr>
</table>
    <input type="submit" value="Save Changes" />
</form>
@Html.ActionLink("Back to Teacher", "Details", new {@id=Model.TeacherId }) | @Html.ActionLink("Back to List", "Index")

@section scripts {    
    <script type="text/javascript">
        $(document).ready(function () {
            var classes = "@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.AssignedClassIds))";
            var arrClassId = JSON.parse(classes);
            if(Object.prototype.toString.call( arrClassId ) === '[object Array]')
            {
                for(var i = 0; i< arrClassId.length; i++)
                {
                    $("input[id='rb-"+ arrClassId[i] +"']").attr("checked", true);
                }
            } else {
                $("input[id='rb-"+ arrClassId +"']").attr("checked", true);
            }
        });
    </script>
}