﻿@model Namarina2.Models.Teacher

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Teacher</legend>

        @Html.HiddenFor(model => model.TeacherID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BirthDate)
        </div>
        <div class="editor-field">
            <div class="editor-field">
             <select id="Tanggal" name="Tanggal">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
            </select>
            <select id="Bulan" name="Bulan">
                <option value="1">Januari</option>
                <option value="2">Februari</option>
                <option value="3">Maret</option>
                <option value="4">April</option>
                <option value="5">Mei</option>
                <option value="6">Juni</option>
                <option value="7">Juli</option>
                <option value="8">Agustus</option>
                <option value="9">September</option>
                <option value="10">Oktober</option>
                <option value="11">November</option>
                <option value="12">Desember</option>
            </select>
             <select id="Tahun" name="Tahun">
                @for (int i = 1930; i < DateTime.Now.Year; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
            @Html.ValidationMessageFor(model => model.BirthDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Gender)
        </div>
        <div class="editor-field">
             @Html.DropDownListFor(model => model.Gender, new List<SelectListItem>()
                                                        {new SelectListItem() {Selected = true, Text="Perempuan", Value="Female" },
                                                         new SelectListItem() {Text="Laki-Laki", Value="Male"}},
                                                         new { @style = "height:25px;width:150px" })
            @Html.ValidationMessageFor(model => model.Gender)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Religion)
        </div>
        <div class="editor-field">
           @Html.DropDownListFor(model => model.Religion, new List<SelectListItem>()
                                                        {new SelectListItem() {Text="Budha", Value="Budha" },
                                                         new SelectListItem() {Text="Hindu", Value="Hindu"},
                                                        new SelectListItem() {Text="Islam", Value="Islam" },
                                                         new SelectListItem() {Text="Katolik", Value="Katolik"},
                                                        new SelectListItem() {Text="Protestan", Value="Protestan" },
                                                         new SelectListItem() {Text="Lainnya", Value="Other"}}, "-Pilih Agama-",
                                                         new { @style = "height:25px;width:150px" })
            @Html.ValidationMessageFor(model => model.Religion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LandlinePhoneNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LandlinePhoneNo)
            @Html.ValidationMessageFor(model => model.LandlinePhoneNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MobilePhoneNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MobilePhoneNo)
            @Html.ValidationMessageFor(model => model.MobilePhoneNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JoinedDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JoinedDate)
            @Html.ValidationMessageFor(model => model.JoinedDate)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
           
            $('.datepicker').kendoDatePicker({
                culture: "id-ID",
                format: "dd/MM/yyyy",
            });
            $("form").validate({
                ignore: ".ignore, :hidden"
            })
        });
    </script>
}