﻿@model IEnumerable<Namarina2.Models.Teacher>

@{
    ViewBag.Title = "Teacher";
}

<input style="float:right;display:none;height:25px" placeholder="Cari guru" id="cariguru" />

<h2>Data Guru/Staf</h2>

<p>
    @Html.ActionLink("Tambah guru baru", "Create")
</p>

<p id="ajax-loader" style="text-align:center">preparing data..<br />
<img src="~/Images/ajax-loader.gif" /></p>

<table id="grid-teacher" style="display:none">
</table>

@section scripts {
    <script type="text/javascript">

        var datasource = {};

        $(document).ready(function () {
            $.ajax({
                type: "GET",
                cache: false,
                url: "@Url.Action("GetTeachers", "Teacher")",
                success: function (data) {
                    datasource = data;
                    InitGrid();
                }
            });

            $("#cariguru").keyup(function () {
                $filter = new Array();

                $Name = $("#cariguru").val();

                if ($Name) {
                    $filter.push({ field: "Name", operator: "contains", value: $Name });
                }

                var grid = $("#grid-teacher").data("kendoGrid");
                grid.dataSource.filter($filter);

            });
        });

        function InitGrid() {
            $("#grid-teacher").kendoGrid({
                dataSource: {
                    data: datasource.teacherData,
                    schema: {
                        model: {
                            fields: {                              
                                Name: { type: "string" },
                                Address: { type: "string" },
                                MobilePhoneNo: { type: "string" }
                            }
                        }
                    },
                    pageSize: 10
                },
                dataBound: function (e) {
                    $('#ajax-loader').hide();
                    $('#grid-teacher').show();
                    $('#cariguru').show();
                },
                pageable: true,
                filterable: true,
                columns: [                   
                            {
                                field: "TeacherID",
                                hidden: true
                            },
                            {
                                field: "Name",
                                title: "Nama",
                                headerAttributes: {
                                    "class": "center",
                                }
                            },
                            {
                                field: "Address",
                                title: "Alamat",
                                headerAttributes: {
                                    "class": "center",
                                }
                            },
                            {
                                field: "MobilePhoneNo",
                                title: "No HP",
                                headerAttributes: {
                                    "class": "center",
                                }
                            },
                            {
                                command: [{ text: "Lihat Detail", click: showDetails }, { text: "Jadwal Mengajar", click: changeClass }], width:300, title: " ", width: "140px", attributes: {
                                    "class": "center"
                                }
                            }
                ]

            });
        }       

        function showDetails(e) {
            e.preventDefault();
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            location.href = "/Teacher/Details/" + dataItem.TeacherID;
        }

        function changeClass(e) {
        }

    </script>
}