﻿@model Namarina2.ViewModels.StudentClass
@{
    ViewBag.Title = "EditStudentClass";
}

<h3>Ganti Kelas</h3>
<h2>@Model.StudentName</h2>
@if (Convert.ToString(Request.QueryString["isRegistration"]) != "1")
{
    @Html.Raw(@"Is NDA ?")  <input type="checkbox" /> <br />
    @Html.Raw(@"Is Teacher ?")  <input type="checkbox" /><br />
    <br />
    <strong>Kelas yang sekarang diikuti :</strong> <br />
    foreach (var m in Model.Enrollments)
    {
    @m.Class.Name @Html.Raw(@" Cuti ? ") <input type="checkbox" /><br />
    }
}

<strong style="color:red">@TempData["Error"]</strong>

@if (Convert.ToString(Request.QueryString["isRegistration"]) == "1")
{
    <div style="text-align: center">
        <ol class="round">
            <li class="one">&nbsp;&nbsp;&nbsp;&nbsp; Isi Biodata dan Kuesioner
            </li>

            <li class="two current">&nbsp;&nbsp;&nbsp;&nbsp; Pilih kelas yang mau didaftar
            </li>

            <li class="three">&nbsp;&nbsp;&nbsp;&nbsp; Cetak Kwitansi
            </li>
        </ol>
    </div>
    <br />   
}
<br />
<br />
<form method="post" action="@Url.Action("ChangeClass", "Student")" onsubmit="validation();return false" id="changeclassform">
    @if (Convert.ToString(Request.QueryString["isRegistration"]) == "1" || Convert.ToString(Request.QueryString["isDaftarUlang"]) == "1")
    {
        <h2>Pendaftaran</h2>
        <select id="bulandaftar" name="bulandaftar">
            <option value="1">Januari</option>
            <option value="2">Februari</option>
            <option value="3">Maret</option>
            <option value="4">April</option>
            <option value="5">Mei</option>
            <option value="6">Juni</option>
            <option value="7">Juli</option>
            <option value="8">Agustus</option>
            <option value="9">September</option>
            <option value="10">Oktober</option>
            <option value="11">November</option>
            <option value="12">Desember</option>
        </select>
        <select id="tahundaftar" name="tahundaftar">
            <option value="@(DateTime.Now.Year - 1)">@(DateTime.Now.Year - 1)</option>
            <option value="@(DateTime.Now.Year)">@(DateTime.Now.Year)</option>
            <option value="@(DateTime.Now.Year - 1)">@(DateTime.Now.Year + 1)</option>
        </select>
    }
    @Html.Hidden("isRegistration", Convert.ToString(Request.QueryString["isRegistration"]))
    @Html.Hidden("isDaftarUlang", Convert.ToString(Request.QueryString["isDaftarUlang"]))
    @Html.HiddenFor(m => m.StudentId)

    <div style="float: right">
        <input type="submit" value="Simpan Perubahan" />
    </div>
    <div id="changeclasses">
        <div id="tabstrip">
            <ul>
                <li class="k-state-active">Pusat
                </li>
                <li>Kebayoran
                </li>
            </ul>
            <div>
                <table>
                    <tr>
                        <td>
                            <h2>Ballet</h2>
                        </td>
                        <td>
                            <h2>Jazz</h2>
                        </td>
                        <td>
                            <h2>Fitness</h2>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top">
                            <table>
                                <tr>
                                    <td>
                                        <h3>General Graded</h3>
                                    </td>
                                    <td>                                   
                                        <h3>Vocational</h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top">
                                        <label for="gradednone-pusat">
                                            <input id="gradednone-pusat" type="radio" name="graded-pusat" value="0">
                                            None</label>
                                        <br />
                                        @foreach (var m in Model.BalletClasses.Where(m => m.SubType == "Graded" && m.Branch.ToUpper() == "PUSAT"))
                                        {
                                            <label for="rb-@m.ClassID">
                                                <input id="rb-@m.ClassID" type="radio" name="graded-pusat" value="@m.ClassID">
                                                @m.Name</label> <br />
                                        }
                                    </td>
                                    <td style="vertical-align: top">
                                        <label for="vocationalnone-pusat">
                                            <input id="vocationalnone-pusat" type="radio" name="vocational-pusat" value="0">
                                            None</label>
                                        <br />
                                        @foreach (var m in Model.BalletClasses.Where(m => m.SubType == "Vocational" && m.Branch.ToUpper() == "PUSAT"))
                                        {
                                            <label for="rb-@m.ClassID">
                                                <input id="rb-@m.ClassID" type="radio" name="vocational-pusat" value="@m.ClassID">
                                                @m.Name</label> <br />
                                        }

                                        <br />
                                        <h3>Special</h3>
                                        <label for="speciallnone-pusat">
                                            <input id="specialnone-pusat" type="radio" name="special-pusat" value="0">
                                            None</label>
                                        <br />
                                        @foreach (var m in Model.BalletClasses.Where(m => m.SubType == "Special" && m.Branch.ToUpper() == "PUSAT"))
                                        {
                                            <label for="rb-@m.ClassID">
                                                <input id="rb-@m.ClassID" type="radio" name="special-pusat" value="@m.ClassID">
                                                @m.Name</label> <br />
                                        }
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="vertical-align: top">
                            <table>
                                <tr>
                                    <td>
                                        <h3>Jazz Ballet</h3>
                                    </td>
                                    <td>
                                        <h3>Jazz Hip Hop</h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top">
                                        <label for="jazzballetnone-pusat">
                                            <input id="jazzballetnone-pusat" type="radio" name="jazzballet-pusat" value="0">
                                            None</label>
                                        <br />
                                        @foreach (var m in Model.JazzClasses.Where(m => m.SubType == "Ballet" && m.Branch.ToUpper() == "PUSAT"))
                                        {
                                            <label for="rb-@m.ClassID">
                                                <input id="rb-@m.ClassID" type="radio" name="jazzballet-pusat" value="@m.ClassID">
                                                @m.Name</label> <br />
                                        }
                                    </td>
                                    <td style="vertical-align: top">
                                        <label for="jazzhiphopnone-pusat">
                                            <input id="jazzhiphopnone-pusat" type="radio" name="jazzhiphop-pusat" value="0">
                                            None</label>
                                        <br />
                                        @foreach (var m in Model.JazzClasses.Where(m => m.SubType == "Hiphop" && m.Branch.ToUpper() == "PUSAT"))
                                        {
                                            <label for="rb-@m.ClassID">
                                                <input id="rb-@m.ClassID" type="radio" name="jazzhiphop-pusat" value="@m.ClassID">
                                                @m.Name</label> <br />
                                        }
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="vertical-align: top">
                            <table>
                                <tr>
                                    <td>
                                        <h3>Paket</h3>
                                    </td>
                                    <td>
                                        <h3>Tambahan</h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top; width: 95px">
                                        <label for="paketnone-pusat">
                                            <input id="paketnone-pusat" type="radio" name="paket-pusat" value="0">
                                            None</label><br />

                                        @foreach (var m in Model.ClassPackages.Where(m => m.Branch.ToUpper() == "PUSAT"))
                                        {
                                            <label for="rbp-@m.ClassPackageID">
                                                <input id="rbp-@m.ClassPackageID" type="radio" name="paket-pusat" value="p-@m.ClassPackageID">
                                                @m.Name</label> <br />
                                        }
                                        @foreach (var m in Model.FitnessClasses.Where(m => m.SubType == "Fitness" && m.Branch.ToUpper() == "PUSAT"))
                                        {
                                            <label for="rb-@m.ClassID">
                                                <input id="rb-@m.ClassID" type="radio" name="paket-pusat" value="@m.ClassID">
                                                Paket 4(@m.Name)</label> <br />
                                        }

                                    </td>
                                    <td style="vertical-align: top">
                                        <label for="tambahannone-pusat">
                                            <input id="tambahannone-pusat" type="radio" name="tambahan-pusat" value="0">
                                            None</label><br />
                                        @foreach (var m in Model.FitnessClasses.Where(m => m.SubType == "Tambahan" && m.Branch.ToUpper() == "PUSAT"))
                                        {
                                            <label for="rb-@m.ClassID">
                                                <input id="rb-@m.ClassID" type="radio" name="tambahan-pusat" value="@m.ClassID">
                                                @m.Name</label> <br />
                                        }
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <table>
                    <tr>
                        <td>
                            <h2>Ballet</h2>
                        </td>
                        <td>
                            <h2>Jazz</h2>
                        </td>
                        <td>
                            <h2>Fitness</h2>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top">
                            <table>
                                <tr>
                                    <td>
                                        <h3>General Graded</h3>
                                    </td>
                                    <td>
                                        <h3>Vocational</h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top">
                                        <label for="gradednone-kebayoran">
                                            <input id="gradednone-kebayoran" type="radio" name="graded-kebayoran" value="0">
                                            None</label>
                                        <br />
                                        @foreach (var m in Model.BalletClasses.Where(m => m.SubType == "Graded" && m.Branch.ToUpper() == "KEBAYORAN"))
                                        {
                                            <label for="rb-@m.ClassID">
                                                <input id="rb-@m.ClassID" type="radio" name="graded-kebayoran" value="@m.ClassID">
                                                @m.Name</label> <br />
                                        }
                                    </td>
                                    <td style="vertical-align: top">
                                        <label for="vocationalnone-kebayoran">
                                            <input id="vocationalnone-kebayoran" type="radio" name="vocational-kebayoran" value="0">
                                            None</label>
                                        <br />
                                        @foreach (var m in Model.BalletClasses.Where(m => m.SubType == "Vocational" && m.Branch.ToUpper() == "KEBAYORAN"))
                                        {
                                            <label for="rb-@m.ClassID">
                                                <input id="rb-@m.ClassID" type="radio" name="vocational-kebayoran" value="@m.ClassID">
                                                @m.Name</label> <br />
                                        }
                                        <br />
                                        <h3>Special</h3>
                                        <label for="speciallnone-kebayoran">
                                            <input id="specialnone-kebayoran" type="radio" name="special-kebayoran" value="0">
                                            None</label>
                                        <br />
                                        @foreach (var m in Model.BalletClasses.Where(m => m.SubType == "Special" && m.Branch.ToUpper() == "KEBAYORAN"))
                                        {
                                            <label for="rb-@m.ClassID">
                                                <input id="rb-@m.ClassID" type="radio" name="special-kebayoran" value="@m.ClassID">
                                                @m.Name</label> <br />
                                        }
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="vertical-align: top">
                            <table>
                                <tr>
                                    <td>
                                        <h3>Jazz Ballet</h3>
                                    </td>
                                    <td>
                                        <h3>Jazz Hip Hop</h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top">
                                        <label for="jazzballetnone">
                                            <input id="jazzballetnone" type="radio" name="jazzballet-kebayoran" value="0">
                                            None</label>
                                        <br />
                                        @foreach (var m in Model.JazzClasses.Where(m => m.SubType == "Ballet" && m.Branch.ToUpper() == "KEBAYORAN"))
                                        {
                                            <label for="rb-@m.ClassID">
                                                <input id="rb-@m.ClassID" type="radio" name="jazzballet-kebayoran" value="@m.ClassID">
                                                @m.Name</label> <br />
                                        }
                                    </td>
                                    <td style="vertical-align: top">
                                        <label for="jazzhiphopnone">
                                            <input id="jazzhiphopnone" type="radio" name="jazzhiphop-kebayoran" value="0">
                                            None</label>
                                        <br />
                                        @foreach (var m in Model.JazzClasses.Where(m => m.SubType == "Hiphop" && m.Branch.ToUpper() == "KEBAYORAN"))
                                        {
                                            <label for="rb-@m.ClassID">
                                                <input id="rb-@m.ClassID" type="radio" name="jazzhiphop-kebayoran" value="@m.ClassID">
                                                @m.Name</label> <br />
                                        }
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="vertical-align: top">
                            <table>
                                <tr>
                                    <td>
                                        <h3>Paket</h3>
                                    </td>
                                    <td>
                                        <h3>Tambahan</h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top; width: 95px">
                                        <label for="paketnone">
                                            <input id="paketnone" type="radio" name="paket-kebayoran" value="0">
                                            None</label><br />

                                        @foreach (var m in Model.ClassPackages.Where(m => m.Branch.ToUpper() == "KEBAYORAN"))
                                        {
                                            <label for="rbp-@m.ClassPackageID">
                                                <input id="rbp-@m.ClassPackageID" type="radio" name="paket-kebayoran" value="p-@m.ClassPackageID">
                                                @m.Name</label> <br />
                                        }
                                        @foreach (var m in Model.FitnessClasses.Where(m => m.SubType == "Fitness" && m.Branch.ToUpper() == "KEBAYORAN"))
                                        {
                                            <label for="rb-@m.ClassID">
                                                <input id="rb-@m.ClassID" type="radio" name="paket-kebayoran" value="@m.ClassID">
                                                Paket 4(@m.Name)</label> <br />
                                        }

                                    </td>
                                    <td style="vertical-align: top">
                                        <label for="tambahannone">
                                            <input id="tambahannone" type="radio" name="tambahan-kebayoran" value="0">
                                            None</label><br />
                                        @foreach (var m in Model.FitnessClasses.Where(m => m.SubType == "Tambahan" && m.Branch.ToUpper() == "KEBAYORAN"))
                                        {
                                            <label for="rb-@m.ClassID">
                                                <input id="rb-@m.ClassID" type="radio" name="tambahan-kebayoran" value="@m.ClassID">
                                                @m.Name</label> <br />
                                        }
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>

    <input type="submit" value="Simpan Perubahan" />
</form>
@Html.ActionLink("Back to Student", "Details", new { @id = Model.StudentId }) | @Html.ActionLink("Back to List", "Index")

@section scripts {
    <script type="text/javascript">
        function validation()
        {

            if(!$("input:radio").is(":checked")){
                alert("Mohon pilih kelas");
                    return false;
                }
                else  {
                    $("#changeclassform").submit();
                    return true;
                }
        }
        $(document).ready(function () {
            $("#tabstrip").kendoTabStrip({
                animation: {
                    open: {
                        effects: "fadeIn"
                    }
                }
            });
            var d = new Date();
            var month = d.getMonth() + 1;
            var year = d.getYear();
            if($("#bulandaftar").val())
            {
                $("#bulandaftar").val(month);
            }
            if($("#tahundaftar").val())
            {
                $("#tahundaftar").val(year);
            }
           

            var classes = "@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.TakenClassIds))";
            var arrClassId = JSON.parse(classes);
            if (Object.prototype.toString.call(arrClassId) === '[object Array]') {
                for (var i = 0; i < arrClassId.length; i++) {
                    $("input[id='rb-" + arrClassId[i] + "']").attr("checked", true);
                }
            } else {
                $("input[id='rb-" + arrClassId + "']").attr("checked", true);
            }

            
            var takenPackage = @(Model.TakenPackageId != null ? @Model.TakenPackageId : 0);
            if(takenPackage != null)
            {
                $("input[id='rbp-" + takenPackage + "']").attr("checked", true);
            }
        });
    </script>
}