﻿@model Namarina2.Models.Student

@{
    ViewBag.Title = "Pendaftaran Murid Baru";
}

<h2>Pendaftaran Murid Baru</h2>
<br />

<div style="text-align: center">
    <ol class="round">
        <li class="one current">&nbsp;&nbsp;&nbsp;&nbsp; Isi Biodata dan Kuesioner
        </li>

        <li class="two">&nbsp;&nbsp;&nbsp;&nbsp; Pilih kelas yang mau didaftar
        </li>

        <li class="three">&nbsp;&nbsp;&nbsp;&nbsp; Cetak kwitansi
        </li>
    </ol>
</div>
<br />

@using (Html.BeginForm("Create","Student",FormMethod.Post, new { @id= "NamarinaForm"}))
{
    @Html.ValidationSummary(true)

    <h3>Biodata</h3>
    <hr />
    <fieldset>
        <legend>Student</legend>

        <div class="editor-label2">
            @Html.LabelFor(model => model.StudentCode)
        </div>
        <div class="editor-field">
            @if(Model.StudentCode == null){<text>[Otomatis dibuat sistem]</text>}
            else { @Model.StudentCode }
            @Html.HiddenFor(m=>m.StudentID)
            @Html.HiddenFor(m => m.StudentCode)
        </div>
        <div class="editor-label2">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="editor-label2">
            @Html.LabelFor(model => model.AdmissionDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AdmissionDate)
            @Html.ValidationMessageFor(model => model.AdmissionDate)
        </div>
        <div class="editor-label2">
            @Html.LabelFor(model => model.Gender)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Gender, new List<SelectListItem>()
                                                        {new SelectListItem() {Selected = true, Text="Perempuan", Value="Female" },
                                                         new SelectListItem() {Text="Laki-Laki", Value="Male"}},
                                                         new { @style = "height:25px;width:150px" })
            @Html.ValidationMessageFor(model => model.Gender)
        </div>

        <div class="editor-label2">
            Tempat / Tanggal Lahir
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.PlaceOfBirth, new { @style = "width:120px"})
            @Html.ValidationMessageFor(model => model.PlaceOfBirth),
            <select id="Tanggal" name="Tanggal">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
            </select>
            <select id="Bulan" name="Bulan">
                <option value="1">Januari</option>
                <option value="2">Februari</option>
                <option value="3">Maret</option>
                <option value="4">April</option>
                <option value="5">Mei</option>
                <option value="6">Juni</option>
                <option value="7">Juli</option>
                <option value="8">Agustus</option>
                <option value="9">September</option>
                <option value="10">Oktober</option>
                <option value="11">November</option>
                <option value="12">Desember</option>
            </select>
             <select id="Tahun" name="Tahun">
                @for (int i = 1930; i < DateTime.Now.Year; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
           @* @Html.EditorFor(model => model.BirthDate)
           *@ @Html.ValidationMessageFor(model => model.BirthDate)
        </div>

        <div class="editor-label2">
            @Html.LabelFor(model => model.Religion)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Religion, new List<SelectListItem>()
                                                        {new SelectListItem() {Text="Budha", Value="Budha" },
                                                         new SelectListItem() {Text="Hindu", Value="Hindu"},
                                                        new SelectListItem() {Text="Islam", Value="Islam" },
                                                         new SelectListItem() {Text="Katolik", Value="Katolik"},
                                                        new SelectListItem() {Text="Protestan", Value="Protestan" },
                                                         new SelectListItem() {Text="Lainnya", Value="Other"}}, "-Pilih Agama-",
                                                         new { @style = "height:25px;width:150px" })
            @Html.ValidationMessageFor(model => model.Religion)
        </div>

        <div class="editor-label2">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>
        <div class="editor-label2">
            @Html.LabelFor(model => model.City)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </div>
        <div class="editor-label2">
            @Html.LabelFor(model => model.PostalCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PostalCode)
            @Html.ValidationMessageFor(model => model.PostalCode)
        </div>

        <div class="editor-label2">
            @Html.LabelFor(model => model.LandLinePhoneNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LandLinePhoneNo)
            @Html.ValidationMessageFor(model => model.LandLinePhoneNo)
        </div>

        <div class="editor-label2">
            @Html.LabelFor(model => model.MobilePhoneNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MobilePhoneNo)
            @Html.ValidationMessageFor(model => model.MobilePhoneNo)
        </div>

        <div class="editor-label2">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label2">
            @Html.LabelFor(model => model.SchoolName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SchoolName)
            @Html.ValidationMessageFor(model => model.SchoolName)
        </div>

        <div class="editor-label2">
            @Html.LabelFor(model => model.SchoolAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SchoolAddress)
            @Html.ValidationMessageFor(model => model.SchoolAddress)
        </div>

        <div class="editor-label2">
            @Html.LabelFor(model => model.SchoolClass)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SchoolClass)
            @Html.ValidationMessageFor(model => model.SchoolClass)
        </div>

        <div class="editor-label2">
            @Html.LabelFor(model => model.Branch)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Branch, new List<SelectListItem>()
                                                        {new SelectListItem() {Text="Pusat", Value="Pusat" },
                                                         new SelectListItem() {Text="Kebayoran", Value="Kebayoran"}}, "-Pilih Cabang-",
                                                         new { @style = "height:25px;width:150px" })
            @Html.ValidationMessageFor(model => model.Branch)
        </div>
            <div class="editor-label2">
                @Html.LabelFor(model => model.Status)
            </div>
            <div class="editor-field">
                  @*@Html.DropDownListFor(model => model.Status, new List<SelectListItem>()
                                                        {new SelectListItem() {Text="Aktif", Value="1" },
                                                         new SelectListItem() {Text="Non-aktif", Value="0"}},
                                                         new { @style = "height:25px;width:150px" })
                @Html.ValidationMessageFor(model => model.Status)*@
                @Model.Status
                @Html.HiddenFor(m=>m.Status)
            </div>
    </fieldset>
    <br />
    <br />
    <h3>Kuesioner</h3>
    <hr />
    <fieldset>
        <legend>Kuesioner</legend>
        <div class="editor-label" style="width: 500px">
            Pernah mengikuti kursus yang sejenis?
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HavePreviousSchool) Ya
            @Html.ValidationMessageFor(model => model.HavePreviousSchool)
        </div>
        <div class="editor-label" style="width: 500px">
            Jika Ya, tolong sebutkan jenis kelas dan nama sekolah / sanggar / klub 
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PreviousSchool)
            @Html.ValidationMessageFor(model => model.PreviousSchool)
        </div>
        <div class="editor-label" style="width: 500px; height: 100px">
            Dari mana Anda mengetahui tentang Namarina?  
        </div>
        <div class="editor-field">
            <div style="float: left; width: 120px;">
                <input type="checkbox" name="WhereGetInfo" value="Newspaper" />
                Surat Kabar
                <br />
                <input type="checkbox" name="WhereGetInfo" value="Banner" />
                Spanduk
                <br />
                <input type="checkbox" name="WhereGetInfo" value="Website" />
                Website<br />
                <input type="checkbox" name="WhereGetInfo" value="Relatives" />
                Kerabat<br />
            </div>
            <div style="float: left; width: 120px">
                <input type="checkbox" name="WhereGetInfo" value="Magazine" />
                Majalah
                <br />
                <input type="checkbox" name="WhereGetInfo" value="X-Banner" />
                X-Banner<br />
                <input type="checkbox" name="WhereGetInfo" value="Facebook" />
                Facebook<br />
                <input type="checkbox" name="WhereGetInfo" value="TV" />
                TV<br />
            </div>
            <div style="float: left; width: 120px">
                <input type="checkbox" name="WhereGetInfo" value="Brochure " />
                Brosur<br />
                <input type="checkbox" name="WhereGetInfo" value="Twitter" />
                Twitter<br />
                <input type="checkbox" name="WhereGetInfo" value="Radio" />
                Radio<br />
                <input type="checkbox" name="WhereGetInfo" value="Flyer" />
                Pamflet<br />
            </div>
            <input type="checkbox" name="WhereGetInfo" value="Youtube " />
            Youtube<br />
            <input type="checkbox" name="WhereGetInfo" value="Others" />
            Lainnya
        </div>
        <div class="editor-label" style="width: 500px">
            Apa tujuan Anda mengikuti kegiatan di Namarina?  
        </div>
        <div class="editor-field">
            <input type="checkbox" name="WhyJoin" value="Stay healthy & fit" />
            Sehat & bugar<br />
            <input type="checkbox" name="WhyJoin" value="As a hobby" />
            Kegemaran
            <br />
            <input type="checkbox" name="WhyJoin" value="Spare time" />
            Mengisi waktu luang<br />
            <input type="checkbox" name="WhyJoin" value="Increase skill level" />
            Meningkatkan kemampuan
            <br />
            <input type="checkbox" name="WhyJoin" value="Others" />
            Lainnya 
        </div>

    </fieldset>
    <p>
        <input type="submit" value="Daftar" />
    </p>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
           
            $('.datepicker').kendoDatePicker({
                culture: "id-ID",
                format: "dd/MM/yyyy",
            });
            $("#NamarinaForm").validate({
                ignore: ".ignore, :hidden"
            })
            //$("#AdmissionDate").val(Date.now);
        });
    </script>
}
