﻿@model Namarina2.Models.Student

@{
    ViewBag.Title = "Details";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>Profil Murid</h2>
            </hgroup>
            <p>
            </p>
        </div>
    </section>
}

<br />
<br />
<fieldset>
    <legend>Profil Murid</legend>
    <div style="float: left">@Html.DisplayFor(model => model.Photo)</div>
    <div style="float: left; margin-left: 20px">
        <strong>@Html.DisplayFor(model => model.StudentCode)</strong><br />
        <span style="font-size: x-large; font-weight: 700">@Html.DisplayFor(model => model.Name)</span><br />
        <br />
        <strong>@Html.DisplayFor(model => model.Enrollments)</strong><br />
        @Html.ActionLink("Ganti Kelas", "ChangeClass", new { @id = Model.StudentID })
    </div>

    <div style="clear: both">
        <div style="float:right">@Html.ActionLink("Keluarga", "Index", "Guardian", new {studentID = Model.StudentID}, null)</div>
        <br />
        <hr />
        <br />

        <div class="display-label">
            @Html.DisplayNameFor(model => model.BirthDate)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.BirthDate)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Gender)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Gender)
        </div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.AdmissionDate)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.AdmissionDate)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Religion)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Religion)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Address)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Address)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.LandLinePhoneNo)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.LandLinePhoneNo)
        </div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.MobilePhoneNo)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.MobilePhoneNo)
        </div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Email)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Email)
        </div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Branch)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Branch)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Status)
        </div>
        <div class="display-field">
            @if(Model.Status == "1") { @Html.Raw("Aktif")} else { @Html.Raw("Non-aktif")}
        </div>
         <div class="display-label">
            @Html.DisplayNameFor(model => model.IsNDA)
        </div>
         <div class="display-field">
            @Html.DisplayFor(model => model.IsNDA)
        </div>
         <div class="display-label">
            @Html.DisplayNameFor(model => model.Remark)
        </div>
         <div class="display-field">
            @Html.DisplayFor(model => model.Remark)
        </div>
    </div>
</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>