﻿@model Namarina2.Models.Student

@{
    ViewBag.Title = "Edit";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>Edit Profil Murid</h2>
            </hgroup>
            <p>
            </p>
        </div>
    </section>
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Edit Profil Murid</legend>

        @Html.HiddenFor(model => model.StudentID)
        @Html.HiddenFor(model => model.StudentCode)

        <br />
        <br />

        <div style="float: left">@Html.DisplayFor(model => model.Photo)</div>
        <div style="float: left; margin-left: 20px">
            <strong>@Html.DisplayFor(model => model.StudentCode)</strong><br />
            <span style="font-size: x-large; font-weight: 700;width:600px">@Html.EditorFor(model => model.Name)@Html.ValidationMessageFor(model => model.Name)</span><br />
            <br />
            <strong>@Html.DisplayFor(model => model.Enrollments)</strong>
        </div>

        <div style="clear: both">
            <br />
            <hr />
            <br />

            <div class="editor-label">
                @Html.LabelFor(model => model.BirthDate)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.BirthDate)
                @Html.ValidationMessageFor(model => model.BirthDate)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Gender)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Gender)
                @Html.ValidationMessageFor(model => model.Gender)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.AdmissionDate)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.AdmissionDate)
                @Html.ValidationMessageFor(model => model.AdmissionDate)
            </div>

            <div class="editor-label">
                Tempat / Tanggal Lahir
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.PlaceOfBirth, new { @style = "width:120px" })
                @Html.ValidationMessageFor(model => model.BirthDate),
            @Html.EditorFor(model => model.BirthDate)
                @Html.ValidationMessageFor(model => model.BirthDate)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Religion)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.Religion, new List<SelectListItem>()
                                                        {new SelectListItem() {Text="Budha", Value="Budha" },
                                                         new SelectListItem() {Text="Hindu", Value="Hindu"},
                                                        new SelectListItem() {Text="Islam", Value="Islam" },
                                                         new SelectListItem() {Text="Katolik", Value="Katolik"},
                                                        new SelectListItem() {Text="Protestan", Value="Protestan" },
                                                         new SelectListItem() {Text="Lainnya", Value="Other"}}, "-Pilih Agama-",
                                                         new { @style = "height:25px;width:150px" })

                @Html.ValidationMessageFor(model => model.Religion)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Address)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.City)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.City)
                @Html.ValidationMessageFor(model => model.City)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.PostalCode)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PostalCode)
                @Html.ValidationMessageFor(model => model.PostalCode)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.LandLinePhoneNo)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.LandLinePhoneNo)
                @Html.ValidationMessageFor(model => model.LandLinePhoneNo)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.MobilePhoneNo)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.MobilePhoneNo)
                @Html.ValidationMessageFor(model => model.MobilePhoneNo)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.SchoolName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.SchoolName)
                @Html.ValidationMessageFor(model => model.SchoolName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.SchoolAddress)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.SchoolAddress)
                @Html.ValidationMessageFor(model => model.SchoolAddress)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.SchoolClass)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.SchoolClass)
                @Html.ValidationMessageFor(model => model.SchoolClass)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Branch)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.Branch, new List<SelectListItem>()
                                                        {new SelectListItem() {Text="Pusat", Value="Pusat" },
                                                         new SelectListItem() {Text="Kebayoran", Value="Kebayoran"}}, "-Pilih Cabang-",
                                                         new { @style = "height:25px;width:150px" })
                @Html.ValidationMessageFor(model => model.Branch)
            </div>


            <div class="editor-label">
                @Html.LabelFor(model => model.IsNDA)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.IsNDA)
                @Html.ValidationMessageFor(model => model.IsNDA)
            </div>

             <div class="editor-label">
                @Html.LabelFor(model => model.Remark)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Remark)
                @Html.ValidationMessageFor(model => model.Remark)
            </div>
              <div class="editor-label">
                @Html.LabelFor(model => model.Status)
            </div>
            <div class="editor-field">
                  @Html.DropDownListFor(model => model.Status, new List<SelectListItem>()
                                                        {new SelectListItem() {Text="Aktif", Value="1" },
                                                         new SelectListItem() {Text="Non-aktif", Value="0"}},
                                                         new { @style = "height:25px;width:150px", @disabled="disabled" })
                @Html.ValidationMessageFor(model => model.Status)
               
            </div>

             
        </div>
    </fieldset>
    <p>
        <input type="submit" value="Save" />
    </p>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            
            $('.datepicker').kendoDatePicker({
                culture: "id-ID",
                format: "dd/MM/yyyy"
            });
        });
    </script>
}
