﻿e@model IEnumerable<Namarina2.Models.Student>

@{
    ViewBag.Title = "Data Murid";
}

<input style="float: right; display: none; height: 25px" placeholder="Cari murid" id="carisiswa" />

<h2>Data Murid</h2>

<p>
    <h3>@Html.ActionLink("Daftar Murid Baru", "Create")</h3>
    <div style="float: right">
        <select id="bulan" name="bulan">
            <option value="1">Januari</option>
            <option value="2">Februari</option>
            <option value="3">Maret</option>
            <option value="4">April</option>
            <option value="5">Mei</option>
            <option value="6">Juni</option>
            <option value="7">Juli</option>
            <option value="8">Agustus</option>
            <option value="9">September</option>
            <option value="10">Oktober</option>
            <option value="11">November</option>
            <option value="12">Desember</option>
        </select>
        <button type="button" id="cariultah">Daftar Ultah</button>
    </div>
</p>
<br />
<hr />
<p>
    Tampilkan murid yang
    <input type="radio" name="filteraktif" class="rbfilter" value="aktifnonaktif" id="filteraktifnonaktif" checked />
    Aktif dan Nonaktif
    <input type="radio" name="filteraktif" class="rbfilter" value="aktif" id="filteraktif" />
    Aktif 
    <input type="radio" name="filteraktif" class="rbfilter" value="nonaktif" id="filternonaktif" />
    Nonaktif
</p>
<p>
    dan
    <select id="operator">
        <option value="atau" selected>> 1 bidang</option>
        <option value="dan">hanya 1 bidang</option>
    </select>
    <input type="checkbox" name="kelas" class="filter" id="filterballet" checked />
    Ballet     
    <input type="checkbox" name="kelas" class="filter" id="filterjazz" checked />
    Jazz
     <input type="checkbox" name="kelas" class="filter" id="filternda" checked />
    NDA 
    <input type="checkbox" name="kelas" class="filter" id="filterfitness" checked />
    Fitness 
    @*<input type="radio" name="kelas" class="filter" id="filterballet" checked />
    Ballet, Jazz
    <input type="radio" name="kelas" class="filter" id="filterjazz" checked />
    Ballet, Fitness
    <input type="radio" name="kelas" class="filter" id="f                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ilternda" checked />
    Jazz, Fitness
    <input type="radio" name="kelas" class="filter" id="filterfitness" checked />
    NDA, Fitness 
    <input type="radio" name="kelas" class="filter" id="filterfitness" checked />
    Ballet, Jazz, Fitness*@ 
</p>
<br />
<br />
<p id="ajax-loader" style="text-align: center">
    preparing data..<br />
    <img src="~/Images/ajax-loader.gif" />
</p>

<div id="students" style="display: none">
    <div id="tabstrip">
        <ul>
            <li class="k-state-active">Pusat
            </li>
            <li>Kebayoran
            </li>
        </ul>
        <div>
            <table id="grid-student-pusat">
            </table>
        </div>
        <div>
            <table id="grid-student-kebayoran">
            </table>
        </div>

    </div>
</div>


@section scripts {
    <script type="text/javascript">

        var datasourcePusat = {};
        var datasourceKebayoran = {};
        var curBranch = "pusat";

        function onTabSelect(e) {
            $("#carisiswa").val("");
            filterGrid();
            filterStudents();
            curBranch = $(e.item).find("> .k-link").text().toLowerCase();
        }

        $(document).ready(function () {

            $("#operator").change(function () {
                if ($("#operator").val() == "atau") {
                    $(".operator").html("atau");
                } else {
                    $(".operator").html("dan");
                }
            });

     

            function filterStudents() {
                $Status = "";
                $filter = { logic: "and", filters: [] };
                var selectedRadio = $("input[type='radio']:checked").val();
                if (selectedRadio == "aktifnonaktif") {
                } else {
                    if (selectedRadio == "aktif") {
                        $Status = "Aktif";
                        $filter.filters.push({ field: "Status", operator: "eq", value: $Status });
                    } else if (selectedRadio == "nonaktif") {
                        $Status = "Non-aktif";
                        $filter.filters.push({ field: "Status", operator: "eq", value: $Status });
                    }
                }
                //cek ikut kelas apa
                var operator = $("#operator").val();
                if (operator == "atau") {
                    $filter2 = { logic: "or", filters: [] };
                } else {
                    $filter2 = { logic: "and", filters: [] };
                }
                $IsBallet = false;
                $IsJazz = false;
                $IsFitness = false;
                $IsNDA = false;

                if (operator == "dan") {
                    $(".filter").each(function () {

                        if ($(this).attr("id") == "filterballet") {
                            if ($(this).is(':checked')) {
                                $IsBallet = true;
                                $filter2.filters.push({ field: "IsBallet", operator: "eq", value: $IsBallet });
                            } else {
                                $IsBallet = false;
                                $filter2.filters.push({ field: "IsBallet", operator: "eq", value: $IsBallet });
                            }
                        }
                        if ($(this).attr("id") == "filternda") {
                            if ($(this).is(':checked')) {
                                $IsNDA = true;
                                $filter2.filters.push({ field: "IsNDA", operator: "eq", value: $IsNDA });

                            } else {
                                $IsNDA = false;
                                $filter2.filters.push({ field: "IsNDA", operator: "eq", value: $IsNDA });
                            }
                        }
                        if ($(this).attr("id") == "filterjazz") {
                            if ($(this).is(':checked')) {
                                $IsJazz = true;
                                $filter2.filters.push({ field: "IsJazz", operator: "eq", value: $IsJazz });
                            } else {
                                $IsJazz = false;
                                $filter2.filters.push({ field: "IsJazz", operator: "eq", value: $IsJazz });
                            }
                        }
                        if ($(this).attr("id") == "filterfitness") {
                            if ($(this).is(':checked')) {
                                $IsFitness = true;
                                $filter2.filters.push({ field: "IsFitness", operator: "eq", value: $IsFitness });
                            } else {
                                $IsFitness = false;
                                $filter2.filters.push({ field: "IsFitness", operator: "eq", value: $IsFitness });
                            }
                        }
                    });
                } else {
                    $(".filter").each(function () {

                        if ($(this).attr("id") == "filterballet" && $(this).is(':checked')) {
                            $IsBallet = true;
                            $filter2.filters.push({ field: "IsBallet", operator: "eq", value: $IsBallet });
                        }
                        if ($(this).attr("id") == "filterjazz" && $(this).is(':checked')) {
                            $IsJazz = true;
                            $filter2.filters.push({ field: "IsJazz", operator: "eq", value: $IsJazz });
                        }
                        if ($(this).attr("id") == "filternda" && $(this).is(':checked')) {
                            $IsNDA = true;
                            $filter2.filters.push({ field: "IsNDA", operator: "eq", value: $IsNDA });
                        }
                        if ($(this).attr("id") == "filterfitness" && $(this).is(':checked')) {
                            $IsFitness = true;
                            $filter2.filters.push({ field: "IsFitness", operator: "eq", value: $IsFitness });
                        }
                    });

                }
                if ($IsBallet || $IsJazz || $IsNDA || $IsFitness) {
                    $filter.filters.push($filter2);
                    var grid = $("#grid-student-" + curBranch).data("kendoGrid");
                    grid.dataSource.filter($filter);
                }
            }
            $(".rbfilter").change(function (e) {
                filterStudents();
            });
            $(".filter").change(function (e) {
                filterStudents();
            });
            $("#operator").change(function (e) {
                filterStudents();
            });
            $("#tabstrip").kendoTabStrip({
                select: onTabSelect,
                animation: {
                    open: {
                        effects: "fadeIn"
                    }
                }
            });

            $("#cariultah").click(function () {
                location.href = "@Url.Action("GetBirthday", "Student")" + "/?month=" + $("#bulan").val() + "&branch=" + curBranch;
            });
            InitGrid("pusat");
            InitGrid("kebayoran");
@*            $.ajax({
                type: "GET",
                cache: false,
                url: "@Url.Action("GetStudents", "Student")" + "/?branch=pusat",
                success: function (data) {
                    datasourcePusat = data;
                    InitGrid("pusat");
                }
            });

            $.ajax({
                type: "GET",
                cache: false,
                url: "@Url.Action("GetStudents", "Student")" + "/?branch=kebayoran",
                success: function (data) {
                    datasourceKebayoran = data;
                    InitGrid("kebayoran");
                }
            });*@

            $("#carisiswa").keyup(function () {
                filterGrid();
            });


        });

        function filterGrid() {
            $filterCariSiswa = { logic: "or", filters: [] };

            $Name = $("#carisiswa").val();

            if ($Name) {
                $filterCariSiswa.filters.push({ field: "Name", operator: "contains", value: $Name });
                $filterCariSiswa.filters.push({ field: "StudentCode", operator: "contains", value: $Name });
            }

            var grid = $("#grid-student-" + curBranch).data("kendoGrid");
            grid.dataSource.filter($filterCariSiswa);
        }

        function InitGrid(branch) {
            $("#grid-student-" + branch).kendoGrid({
                dataSource: {
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true,
                    pageSize: 10,
                    schema: {
                        data: "Data",
                        total: "Total",
                        model: {
                            fields: {
                                StudentCode: { type: "string" },
                                Name: { type: "string" },
                                Address: { type: "string" },
                                MobilePhoneNo: { type: "string" },
                                BirthDate: { type: "date" },
                                Religion: { type: "string" },
                                AdmissionDate: { type: "date" },
                                IsBallet: { type: "boolean" },
                                IsJazz: { type: "boolean" },
                                IsFitness: { type: "boolean" },
                                IsNDA: { type: "boolean" },
                                Status: { type: "string" }
                            }
                        }
                    },
                    transport: {
                        read: {
                            url: "@Url.Action("GetStudents", "Student")" + "/?branch=" + branch,
                            contentType: "application/json",
                            type: "POST"
                        }, parameterMap: function (data, operation) {

                            return JSON.stringify(data)
                        }
                    }
                },
                dataBound: function (e) {
                    $('#ajax-loader').hide();
                    $('#students').show();
                    $('#carisiswa').show();
                },
                pageable: true,
                filterable: true,
                columns: [
                            {
                                field: "StudentId",
                                hidden: true
                            },
                            {
                                field: "StudentCode",
                                title: "Kode",
                                headerAttributes: {
                                    "class": "center",
                                },
                                width: 100,
                            },
                            {
                                field: "Name",
                                title: "Nama",
                                headerAttributes: {
                                    "class": "center",
                                },
                                width: 200
                            },
                            {
                                field: "Address",
                                title: "Alamat",
                                headerAttributes: {
                                    "class": "center",
                                }
                            },
                            {
                                field: "MobilePhoneNo",
                                title: "No HP",
                                headerAttributes: {
                                    "class": "center",
                                },
                                attributes: {
                                    "class": "center"
                                }
                            },
                            {
                                field: "BirthDate",
                                title: "Tgl Lahir",
                                headerAttributes: {
                                    "class": "center",
                                },
                                template: '#= kendo.toString(BirthDate,"d MMM yyyy") #',
                                attributes: {
                                    "class": "center"
                                }

                            },
                            {
                                field: "Religion",
                                title: "Agama",
                                filterable: {
                                    ui: religionFilter
                                },
                                headerAttributes: {
                                    "class": "center",
                                },
                                attributes: {
                                    "class": "center"
                                }
                            },
                            {
                                field: "AdmissionDate",
                                title: "Tgl Masuk",
                                template: '#= kendo.toString(AdmissionDate,"d MMM yyyy") #',
                                headerAttributes: {
                                    "class": "center",
                                },
                                attributes: {
                                    "class": "center"
                                }
                            },
                            {
                                field: "Status",
                                title: "Status",
                                headerAttributes: {
                                    "class": "center",
                                },
                                attributes: {
                                    "class": "center"
                                }
                            },
                            {
                                field: "IsBallet",
                                title: "Icon",
                                template: '#= displayIcon(IsBallet,IsJazz,IsFitness,IsNDA) #'
                            },
                            {
                                field: "StudentId",
                                title: "Action",
                                headerAttributes: {
                                    "class": "center",
                                },
                                attributes: {
                                    "class": "center"
                                },
                                template: "#if (Status != 'Aktif') { # <a class='btndaftarkembali k-button' onclick='daftarKembali(event)'>Daftar Ulang</a> # } #  <a class='btnlihatdetail k-button' onclick='showDetails(event)'>Lihat Detail</a> <a class='btngantikelas k-button' onclick='changeClass(event)'>Ganti Kelas</a>"
                            }
                            //{
                            //    command: [{ text: "Lihat Detail", click: showDetails }, { text: "Ganti Kelas", click: changeClass }], title: " ", width: "140px", attributes: {
                            //        "class": "center"
                            //    }
                            //}
                ]

            });
        }

        function religionFilter(element) {
            element.kendoDropDownList({
                dataSource: datasource.listReligion,
                optionLabel: "--Select Value--"
            });
        }

        function daftarKembali(e) {
            e.preventDefault();
            var grid = $("#grid-student-"+curBranch).data("kendoGrid");
            var dataItem = grid.dataItem($(e.currentTarget).closest("tr"));
            location.href = "/Student/Create/" + dataItem.StudentId;
        }

        function showDetails(e) {
            e.preventDefault();
            var grid = $("#grid-student-"+curBranch).data("kendoGrid");
            var dataItem = grid.dataItem($(e.currentTarget).closest("tr"));
            location.href = "/Student/Details/" + dataItem.StudentId;
        }

        function changeClass(e) {
            e.preventDefault();
            var grid = $("#grid-student-"+curBranch).data("kendoGrid");
            var dataItem = grid.dataItem($(e.currentTarget).closest("tr"));
            location.href = "/Student/ChangeClass/" + dataItem.StudentId;
        }

        function displayIcon(isBallet, isJazz, isFitness, isNDA) {
            var result = "";
            if (isBallet) {
                result += "<img src=\"../../Content/ballet.png\"/>";
            }
            if (isJazz) {
                result += "<img src=\"../../Content/jazz.png\"/>";
            }
            if (isFitness) {
                result += "<img src=\"../../Content/fitness.png\"/>";
            }
            if (isNDA) {
                result += "<img src=\"../../Content/nda.png\"/>";
            }
            return result;
        }


    </script>
}
