﻿@{
    ViewBag.Title = "RegistrationInvoice";
}


<h2>Kwitansi Pendaftaran</h2>

<h3>Biaya Pendaftaran : Rp. 375.000</h3>

<form method="post" action="@Url.Action("RegistrationInvoice")">

Isi informasi ini HANYA JIKA DIBUTUHKAN : <br />
@Html.Hidden("StudentID", Convert.ToString(Request.QueryString["StudentID"]))  
@Html.Hidden("tahunDaftar", Convert.ToString(Request.QueryString["tahunDaftar"]))   
@Html.Hidden("bulanDaftar", Convert.ToString(Request.QueryString["bulanDaftar"]))    
Pembetulan harga : <input id="fixedprice" name="fixedprice" /><br />
Alasan Pembetulan harga : <input id="reasonfixedprice" name="reasonfixedprice" /><br /><br />

<input type="submit" value="Print Invoice" />

    @if(@TempData["Error"] != null && @TempData["Error"] != "") { @TempData["Error"] }

</form>

