﻿@{
    ViewBag.Title = "DailyReport";
}

<h2>Daily Report</h2>
<form>
    <div class="display-label">
        Tanggal
    </div>
    <div class="display-field">
        @Html.TextBox("ReportDate", string.Empty, new { @class = "datepicker", @placeholder = "dd/mm/yyyy" })
    </div>

    <div class="display-label">
        Cabang
    </div>
    <div class="display-field">
        @Html.DropDownList("Branch", new List<SelectListItem> { 
        new SelectListItem { Text = "Pusat", Value = "Pusat"},
        new SelectListItem { Text = "Kebayoran", Value = "Kebayoran"}    
})
    </div>
    @*<div class="display-label">
        Pengeluaran
    </div>
    <div class="display-field">
        <table data-bind='visible: expenses().length > 0'>
            <thead>
                <tr>
                    <th>Deskripsi</th>
                    <th>Jumlah</th>
                    <th />
                </tr>
            </thead>
            <tbody data-bind='foreach: expenses'>
                <tr>
                    <td>
                        <input class='required' data-bind='value: name, uniqueName: true' /></td>
                    <td>
                        <input class='required number' data-bind='value: price, uniqueName: true' /></td>
                    <td><a href='#' data-bind='click: $root.removeExpense'>Delete</a></td>
                </tr>
            </tbody>
        </table>

        <button data-bind='click: addExpense'>Tambah Pengeluaran</button>
           <button data-bind='enable: expenses().length > 0' type='submit'>Submit</button>
    </div>*@
    <div class="display-label">
        <br />
        <br />
        <p>
            <input id="generatedailyreport" class="button" type="button" value="Buat Laporan Harian" />
        </p>
</form>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {

            $('.datepicker').kendoDatePicker({
                culture: "id-ID",
                format: "dd/MM/yyyy",
                value: new Date()
            });

            $("#generatedailyreport").click(function (e) {
               location.href = "@Url.Action("GetDailyReport", "Report")" + "/?reportdate=" + kendo.toString($("#ReportDate").data("kendoDatePicker").value(), "yyyy-MM-dd") + "&branch=" + $("#Branch").val() + "&expenses=" + viewModel.save();
            });
        });

            var ExpenseModel = function (expenses) {
                var self = this;
                self.expenses = ko.observableArray(expenses);

                self.addExpense = function () {
                    self.expenses.push({
                        name: "",
                        price: ""
                    });
                };

                self.removeExpense = function (expense) {
                    self.expenses.remove(expense);
                };

                self.save = function (form) {
                    return ko.utils.stringifyJson(self.expenses);
                    // To actually transmit to server as a regular form post, write this: ko.utils.postJson($("form")[0], self.gifts);
                };
            };

            var viewModel = new ExpenseModel([]);
            ko.applyBindings(viewModel);

            // Activate jQuery Validation
            //$("form").validate({ submitHandler: viewModel.save });
    </script>
}

