﻿@{
    ViewBag.Title = "Index";
}

<h2>Payment Report</h2>
<br /><br />
<fieldset>
<div style="clear: both">
<div class="editor-label">
    Dari
</div>
<div class="editor-field">
    @Html.TextBox("From", string.Empty, new { @class = "datepicker", @placeholder = "dd/mm/yyyy" })
</div>

<div class="editor-label">
    Sampai
</div>
<div class="editor-field">
    @Html.TextBox("To", string.Empty, new { @class = "datepicker", @placeholder = "dd/mm/yyyy" })
</div>

<div class="editor-label">
    Cabang
</div>
<div class="editor-field">
    @Html.DropDownList("Branch", new List<SelectListItem> {
        new SelectListItem { Value = "PUSAT", Text = "Pusat" },
        new SelectListItem { Value = "KEBAYORAN", Text = "Kebayoran" }
    })
    </div>
    </div>
</fieldset>
<br />
<p>
    <input id="generatereport" class="button" type="button" value="Buat Laporan" />
</p>


<br />

<div id="report" style="display: none">
    <table id="grid-report">
    </table>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        var datasource = {};
        $(document).ready(function () {
          
            $('.datepicker').kendoDatePicker({
                culture: "id-ID",
                format: "dd/MM/yyyy"
            });

            $("#generatedailyreport").click(function (e) {
                location.href = "@Url.Action("GetDailyReport", "Report")";

            });

            $("#generatereport").click(function (e) {
                var data = {};
                data.datefrom = kendo.toString($("#From").data("kendoDatePicker").value(), "yyyy-MM-dd");
                data.dateto = kendo.toString($("#To").data("kendoDatePicker").value(), "yyyy-MM-dd");
                data.branch =  $("#Branch").val();

                $.ajax({
                    type: "GET",
                    cache: false,
                    url: "@Url.Action("GetReport", "Report")",
                    data : data,
                success: function (data) {
                    datasource = data;
                    InitGrid();
                }
                 });
            });
        });

        function InitGrid() {
            $("#report").empty();
            $("#report").append("<table id=\"grid-report\"></table>");
            $("#grid-report").kendoGrid({
                dataSource: {
                    data:  datasource.reportData,
                    schema: {
                        model: {
                            fields: {
                                DateTimeReport: { type: "date" },
                                StudentCode: { type: "string" },
                                StudentName: { type: "string" },
                                Enrollments: { type: "string" },
                                Period: { type: "string" },
                                Price: { type: "string" }
                            }
                        }
                    },
                    pageSize: 10
                },
                dataBound: function (e) {
                    $('#ajax-loader').hide();
                    $('#report').show();
                },
                pageable: true,
                filterable: true,
                columns: [                           
                            {
                                field: "DateTimeReport",
                                title: "Tanggal Bayar",
                                headerAttributes: {
                                    "class": "center",
                                },
                                template: '#= kendo.toString(DateTimeReport,"d MMM yyyy") #',
                                width: 100,
                            },
                            {
                                field: "StudentCode",
                                title: "Kode Siswa",
                                headerAttributes: {
                                    "class": "center",
                                },
                                width: 200
                            },
                            {
                                field: "StudentName",
                                title: "Nama",
                                headerAttributes: {
                                    "class": "center",
                                }
                            },
                            {
                                field: "Enrollments",
                                title: "Kelas",
                                headerAttributes: {
                                    "class": "center",
                                },
                                attributes: {
                                    "class": "center"
                                }
                            },
                            {
                                field: "Period",
                                title: "Periode",
                                headerAttributes: {
                                    "class": "center",
                                }
                            },
                            {
                                field: "Price",
                                title: "Harga",                               
                                headerAttributes: {
                                    "class": "center",
                                },
                                attributes: {
                                    "class": "center"
                                }
                            }
                ]

            });
        }
    </script>
}

