﻿@model ICollection<Namarina2.Models.Enrollment>

@Html.Raw(string.Join("&nbsp; &diams; &nbsp;", Model.Select(m=> string.Format("<span title=\"{0}\">{1}</span>", m.Class.ClassCode, m.Class.Name)).ToArray()))