﻿@{
    ViewBag.Title = "Pembayaran Siswa";
}
<input style="display: none" id="message" value="@ViewBag.Message"/>

<input style="float: right; display: none; height: 18px" placeholder="Cari siswa" id="carisiswa" />
<h2>Pembayaran Siswa</h2>



<p id="ajax-loader" style="text-align: center">
    preparing data..<br />
    <img src="~/Images/ajax-loader.gif" />
</p>


<table id="grid-payment">
</table>

<div id="modal-payment"></div>
<br /><br />
 <div style="float: right; z-index:9999999">
        Per <input id="datepickerbelumbayar" type="text" class="datepicker ignore" placeholder="dd/mm/yyyy" />
        <button type="button" id="caribelumbayar">Daftar Belum Bayar</button>
    </div>
<br />
<br />

@section scripts {
 @* @Scripts.Render("~/bundles/jqueryui")*@
  @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript">
        var datasource = {};
        var penalty = 0;
        var wnd, detailstemplate;
        var studentdata = {};
        var curLastPeriod;
        $(document).ready(function () {           
            $(".datepicker").kendoDatePicker({
                format: "dd/MM/yyyy"
            });

            $("#caribelumbayar").click(function () {
                location.href = "@Url.Action("GetNotPaid", "Payment")" + "/?pertanggal=" + kendo.toString($("#datepickerbelumbayar").data("kendoDatePicker").value(), "yyyy-MM-dd") + "&branch=" + "pusat";
             });

            if ($("#message").val() != "") {
                alert($("#message").val());
            }

            $.ajax({
                type: "GET",
                cache: false,
                url: "@Url.Action("GetHaventPaidStudents", "Payment")",
                success: function (data) {
                    datasource = data;
                    InitGrid();
                }
            });
        });

        $(document).on('click', '#konfirmasibayar', function () {          
            var listPaidDates = [];
            $("input[id^='cb-']").each(function (e) {
                if (this.checked) {
                    listPaidDates.push(studentdata.MonthlyPayments[e].PaymentPeriod);
                }
            });
            location.href = "@Url.Action("Pay", "Payment")" + "/?studentId=" + $("#StudentId").val() + "&fixedPrice=" + $("#fixedprice").val() + "&reason=" + $("#reason").val() + "&isnotpaypenalty=" + ($('#isnotpaypenalty').attr('checked') ? true : false) + "&penalty=" + parseInt($("#totalpenalty").html()) + "&paiddates=" + JSON.stringify(listPaidDates) + "&paymentDate=" + $("#TanggalBayar").val();
@*            $.ajax({
                type: "POST",
                traditional: true,
                dataType: 'json',
                url: "@Url.Action("Pay", "Payment")",
                data: {studentId : $("#StudentId").val()},
                success: function (data) {
                    var grid = $("#grid-payment").data("kendoGrid");
                    grid.refresh();
                }
             });*@
        });

        $(document).on('click', '.btnbayar', function (e) {
            showPayment2(e);
        });

        $(document).on('click', '.btnprint', function (e) {
            print(e);
        });

        $(document).on('click', '#btnfixprice', function (e) {
            $("#divfixprice").show();
        });                
       

        $(document).on('change', '#isnotpaypenalty', function () {
            if ($('#isnotpaypenalty').attr('checked')) {
                $("#totalpenalty").html(0);
            } else {
                $("#totalpenalty").html(penalty);
            }

            var price = $("#totalprice").val();
            var denda = $("#totalpenalty").html();
            var total = parseInt(price) + parseInt(denda);
            $("#grandtotalprice").html(total);
        });

        function InitGrid() {
            $("#grid-payment").kendoGrid({
                dataSource: {
                    data: datasource.studentData,
                    schema: {
                        model: {
                            fields: {
                                StudentCode: { type: "string" },
                                Name: { type: "string" },
                                PaymentPeriods: { type: "string" }
                            }
                        }
                    },
                    pageSize: 10
                },
                dataBound: function (e) {
                    $('#ajax-loader').hide();
                    $('#grid-payment').show();
                    $('#carisiswa').show();
                },
                pageable: true,
                filterable: true,
                columns: [
                            {
                                field: "StudentId",
                                hidden: true
                            },
                            {
                                field: "StudentCode",
                                title: "Kode",
                                headerAttributes: {
                                    "class": "center",
                                },
                                width: 100,
                            },
                            {
                                field: "Name",
                                title: "Nama",
                                headerAttributes: {
                                    "class": "center",
                                },
                                width: 200
                            },
                            //{
                            //    field: "Classes",
                            //    title: "Kelas",
                            //    encoded: false,
                            //    headerAttributes: {
                            //        "class": "center",
                            //    }
                            //},
                            //{
                            //    field: "TotalPrice",
                            //    title: "Iuran",
                            //    headerAttributes: {
                            //        "class": "center",
                            //    },
                            //    attributes: {
                            //        "class": "center"
                            //    },
                            //    template: '#= kendo.toString(TotalPrice, "n") #'
                            //},
                            {
                                field: "PaymentPeriods",
                                title: "Belum Iuran Bulan",
                                headerAttributes: {
                                    "class": "center",
                                },
                                attributes: {
                                    "class": "center"
                                },
                            },
                             {
                                 field: "Status",
                                 title: "Status",
                                 encoded: false,
                                 headerAttributes: {
                                     "class": "center",
                                 },
                                 attributes: {
                                     "class": "center"
                                 },
                             },
                            {
                                field: "PaymentPeriods",
                                title: "Action",
                                headerAttributes: {
                                    "class": "center",
                                },
                                attributes: {
                                    "class": "center"
                                },
                                template: "#if (PaymentPeriods != null) { # <a class='btnbayar k-button'>Bayar</a> # } else { # <a class='btnbayar k-button'>Bayar</a> <a class='btnprint k-button'>Print</a> #} #"
                            }
                ]

            });

            wnd = $("#modal-payment").kendoWindow({
                title: "Konfirmasi Bayar",
                modal: true,
                visible: false,
                resizable: false,
                width: 500
            }).data("kendoWindow");

            detailsTemplate = kendo.template($("#template").html());
        }

        function showPayment(e) {
            e.preventDefault();
            var grid = $("#grid-payment").data("kendoGrid");
            var dataItem = grid.dataItem($(e.currentTarget).closest("tr"));
            $("#TanggalBayar").val("");
            $.ajax({
                type: "GET",
                cache: false,
                url: "@Url.Action("GetPaymentDetail", "Payment")" + "/?studentId=" + dataItem.StudentId,
                success: function (data) {
                    $("#fixprice").val("");
                    $("#reason").val("");
                    curLastPeriod = null;
                    $("#divfixprice").hide();
                    studentdata = data.studentData;
                    if (studentdata.MonthlyPayments != null && studentdata.MonthlyPayments.length > 0) {
                        for (var i = 0; i < studentdata.MonthlyPayments.length; i++) {
                            studentdata.MonthlyPayments[i].PaymentPeriod = new Date(parseInt(studentdata.MonthlyPayments[i].PaymentPeriod.replace("/Date(", "").replace(")/", ""), 10));
                        }
                    }
                    wnd.content(detailsTemplate(data.studentData));
                    penalty = parseInt($("#totalpenalty").html());
                    checkIfCanConfirmPayment(studentdata.MonthlyPayments);
                    wnd.center().open();
                    $(".datepicker").kendoDatePicker({
                        format: "dd/MM/yyyy"
                    });
                }
            });

           
        }

        function checkIfCanConfirmPayment(monthlypaymentsdata)
        {
            if (monthlypaymentsdata != null && monthlypaymentsdata.length > 0) 
                {
                    $("#konfirmasibayar").removeAttr("disabled");
                }
        }

        function cbchange(date, datetime) {
            var price = parseInt($("#price-" + date).html());
            var penalty = 0;
            var totalpenalty = parseInt($("#totalpenalty").html());
            for (var i = 0; i < studentdata.MonthlyPayments.length; i++)
            {
                var paymentperiod = studentdata.MonthlyPayments[i].PaymentPeriod;  
                var paymentperiodvalue = new Date(paymentperiod);
                if (paymentperiodvalue.getMonth() == new Date(datetime).getMonth() && paymentperiodvalue.getYear() == new Date(datetime).getYear())
                {
                    penalty = studentdata.MonthlyPayments[i].Penalty;
                }
            }
            var grandtotalprice = parseInt($("#grandtotalprice").html());
            if ($("#cb-" + date).attr('checked')) {
                grandtotalprice = grandtotalprice + price + penalty;
                totalpenalty = totalpenalty + penalty;
            } else {
                grandtotalprice = grandtotalprice - price - penalty;
                totalpenalty = totalpenalty - penalty;
            }
            $("#totalpenalty").html(totalpenalty);
            $("#grandtotalprice").html(grandtotalprice);
        }       

        function addpaymentclick() {
            var grandtotalprice = parseInt($("#grandtotalprice").html());
            if (studentdata.MonthlyPayments == null || studentdata.MonthlyPayments.length == 0) { //sudah lunas bulan ini
                var lastmonth = new Date(parseInt(studentdata.LastPeriod.replace("/Date(", "").replace(")/", ""), 10));
                if (curLastPeriod == null) {
                    var nextmonth = new Date(new Date(lastmonth).setMonth(lastmonth.getMonth() + 1));
                    curLastPeriod = new Date(nextmonth);
                } else {
                    var nextmonth = new Date(curLastPeriod.setMonth(curLastPeriod.getMonth() + 1));
                }
                var nextprice = studentdata.LastPrice;
                var lastclasses = studentdata.LastClasses;
            } else { //belum lunas bulan ini
                var lastmonthvalue = studentdata.MonthlyPayments[studentdata.MonthlyPayments.length - 1].PaymentPeriod;
                var lastmonth = new Date(lastmonthvalue);
                if (curLastPeriod == null) {
                    var nextmonth = new Date(new Date(lastmonth).setMonth(lastmonth.getMonth() + 1));
                    curLastPeriod = new Date(nextmonth);
                } else {
                    var nextmonth = new Date(curLastPeriod.setMonth(curLastPeriod.getMonth() + 1));
                }
                var nextprice = studentdata.MonthlyPayments[studentdata.MonthlyPayments.length - 1].Price;
                var lastclasses = studentdata.MonthlyPayments[studentdata.MonthlyPayments.length - 1].Classes
            }
            grandtotalprice = grandtotalprice + nextprice;
            $("#grandtotalprice").html(grandtotalprice);

            studentdata.MonthlyPayments.push({ PaymentPeriod: nextmonth, Penalty: 0, Classes: lastclasses, Price: nextprice });
          
            checkIfCanConfirmPayment(studentdata.MonthlyPayments);
                   
            $("#tblmonthlypaymentstring").append("<tr><td><input id='cb-" + moment(nextmonth).format("MMM-YYYY") + "' type='checkbox' checked onchange='cbchange(\"" + moment(nextmonth).format("MMM-YYYY") + "\", \"" + nextmonth + "\") '/></td><td>" + moment(nextmonth).format("MMM YYYY") + "</td><td>" + lastclasses + "</td><td id=\"price-" + moment(nextmonth).format("MMM-YYYY") + "\">" + nextprice + "</td></tr>");
        }
        
        function showPayment2(e) {
            e.preventDefault();
            var grid = $("#grid-payment").data("kendoGrid");
            var dataItem = grid.dataItem($(e.currentTarget).closest("tr"));
            location.href = "@Url.Action("PaymentPage", "Payment")" + "/?studentId=" + dataItem.StudentId;
        }

        function print(e) {
            e.preventDefault();
            var grid = $("#grid-payment").data("kendoGrid");
            var dataItem = grid.dataItem($(e.currentTarget).closest("tr"));
            location.href = "@Url.Action("Print", "Payment")" + "/?studentId=" + dataItem.StudentId;
        }

        $("#carisiswa").keyup(function () {
            $filter = new Array();

            $Name = $("#carisiswa").val();

            if ($Name) {
                $filter.push({ field: "Name", operator: "contains", value: $Name });
            }

            var grid = $("#grid-payment").data("kendoGrid");
            grid.dataSource.filter($filter);

        });       
    </script>

    <script type="text/x-kendo-template" id="template">
                <div id="details-container">
                    <span id="adminfield">Tanggal Bayar : @DateTime.Now.ToShortDateString()</span>
                    @Html.Hidden("TanggalBayar", new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day))
                    <input id="StudentId" style="display:none" value="#=StudentId#"/>
                    <h3>#= StudentCode #</h3>
                    <h3>#= StudentName #</h3>
                    <div id="monthlypaymentstring">#= MonthlyPaymentsString #</div>
                    <input type="button" id="btnAddPayment" onclick="addpaymentclick()" value="Bayar bulan depan"/>
                    <h3>Jenis Pembayaran</h3>
                    <input type="radio" name="jenispembayaran" value="tunai" /> Tunai
                    <input type="radio" name="jenispembayaran" value="edcbca"/> EDC BCA
                    <input type="radio" name="jenispembayaran" value="edcmandiri"/>EDC Mandiri
                    <input type="radio" name="jenispembayaran" value="transferbca"/>Transfer BCA
                    <input type="radio" name="jenispembayaran" value="transfermandiri"/>Transfer Mandiri
                    <h3>Penalty : <span id="totalpenalty">#= TotalPenalty #</span></h3>
                    <input type="checkbox" id="isnotpaiypenalty"/> Tidak bayar denda
                    <input id="totalprice" style="display:none" value="#=TotalPrice#"/>                    
                    <br/><br/>
                    <h2>Grand Total : <span id="grandtotalprice">#= GrandTotalPrice #</span></h2> <br/>
                    <button id="btnfixprice">Betulkan Harga</button>
                    <div style="display:none" id="divfixprice">
                    <br/><br/>
                    <div style="float:left;width:200px">Harga Pembetulan</div> <input id="fixedprice"/> <br/>
                    <div style="float:left;width:200px">Alasan Pembetulan Harga</div> <input id="reason"/>
                    <br/><br/>
                    </div>
                </div>
         <br/>
                <button class="button" id="konfirmasibayar" disabled>Konfirmasi Bayar</button>
         <br/><br>
    </script>
}