﻿@{
    ViewBag.Title = "OneTimePayment";
}
@model Namarina2.Models.OneTimePayment
<h2>Bayar Per Kali Datang</h2>


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
         <div class="editor-label">
            Nama
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

          <div class="editor-label">
           Kelas
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m=>m.ClassId, Namarina2.Models.OneTimePayment.GetClassList())
            @Html.ValidationMessageFor(model => model.ClassId)
        </div>

        <div class="editor-label">
            Harga Pembetulan
        </div>
        <div class="editor-field">
       @Html.TextBoxFor(model => model.FixedPrice)
        </div>

        <div class="editor-label">
           Alasan Harga Pembetulan
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ReasonFixedPrice)
            @Html.ValidationMessageFor(model => model.ReasonFixedPrice)
        </div>
       
        <br /><br />
        <br /><br /><br /><br /><br /><br />
         <h2>Harga : Rp. <span id="hargakelas"></span></h2>
        <p>
            <input type="submit" value="Bayar" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/MvcFoolproofJQueryValidation.min.js"></script>
        <script src="~/Scripts/mvcfoolproof.unobtrusive.min.js"></script>
    <script>
        function getHarga(classId) {
            $.post("@Url.Action("GetClassPrice")", { classId: classId }, function (result) {
                $("#hargakelas").html(result);
            });
        }
        $(document).ready(function () {
            $("#ClassId").select2();
            getHarga($("#ClassId").val());
            $("#ClassId").change(function (e) {
                getHarga($("#ClassId").val());
            });
            $("#FixedPrice").change(function (e) {
                $("#hargakelas").html($("#FixedPrice").val());
            });
        });
    </script>
}
