﻿@model Namarina2.ViewModels.PaymentDetails
@{
    ViewBag.Title = "Halaman Pembayaran";
}

<h2>Halaman Pembayaran</h2>

<div id="details-container">
    <span id="adminfield">Tanggal Bayar : @DateTime.Now.ToShortDateString()</span>
    @Html.HiddenFor(m => m.PaymentDate, new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day))
    @Html.HiddenFor(m => m.StudentId)
    <h3>@Model.StudentCode</h3>
    <h3>@Model.StudentName</h3>
    <div id="monthlypaymentstring">
        <table id="gridMonthlyPayment"></table>
    </div>
    <button >Bayar bulan depan</button>

    <h3>TotalPrice : <span id="totalprice"></span></h3>
    <h3>Penalty : <span id="totalpenalty"></span></h3>
    <h2>Grand Total : <span id="grandtotalprice"></span></h2> <br />  
    
    <h3>Jenis Pembayaran</h3>
    <input type="radio" name="jenispembayaran" value="tunai" checked /> Tunai
    <input type="radio" name="jenispembayaran" value="edcbca" /> EDC BCA
    <input type="radio" name="jenispembayaran" value="edcmandiri" />EDC Mandiri
    <input type="radio" name="jenispembayaran" value="transferbca" />Transfer BCA
    <input type="radio" name="jenispembayaran" value="transfermandiri" />Transfer Mandiri
    <br/><br/>
    @if (User.IsInRole("manajer"))
    {        
        <input type="checkbox" id="isfixprice" /> @Html.Raw("Pembetulan Harga") <input id="fixedprice" /> <br/>
        @Html.Raw("Alasan Pembetulan") <input id="reason"/>
    }

</div>
<br />
<button class="button" id="konfirmasibayar" >Konfirmasi Bayar</button>
<br /><br>
@section scripts
{
<script>
    var dataSourceMonthlyPayment = {};
    var totalPenalty = 0;
    var grandTotalPrice = 0;
    var listPaidDates = []
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            cache: false,
            url: "@Url.Action("GetPaymentDetail", "Payment")" + "/?studentId=" + $("#StudentId").val(),
            success: function (data) {
                dataSourceMonthlyPayment = data.studentData.MonthlyPayments;
                $("#totalpenalty").html(data.studentData.TotalPenalty);
                $("#totalprice").html(data.studentData.TotalPrice);
                $("#grandtotalprice").html(data.studentData.GrandTotalPrice);
                InitGridMonthlyPayment();
            }
        });


        $(document).on('click', '#konfirmasibayar', function () {          
            var listPaidDates = [];
            $("input[id^='cb-']").each(function (e) {
                if (this.checked) {
                    listPaidDates.push(studentdata.MonthlyPayments[e].PaymentPeriod);
                }
            });
            location.href = "@Url.Action("Pay", "Payment")" + "/?studentId=" + $("#StudentId").val() + "&fixedPrice=" + $("#fixedprice").val() + "&reason=" + $("#reason").val() + "&isnotpaypenalty=false" + "&penalty=" + parseInt($("#totalpenalty").html()) + "&paiddates=" + JSON.stringify(listPaidDates) + "&paymentDate=" + $("#PaymentDate").val();
        });
    });



    function InitGridMonthlyPayment()
    {
        $("#gridMonthlyPayment").kendoGrid({
            dataSource: {
                data: dataSourceMonthlyPayment,
               
                pageSize: 10
            },
            dataBound: function (e) {

            },
            pageable: true,
            filterable: true,
            columns: [
                 { template: '<input type="checkbox" checked class="chkbx" />', width: 110 },
                            {
                                field: "PaymentPeriod",
                                title: "Periode",
                                type: 'date',
                                template: '#= kendo.toString(PaymentPeriod, "MMM yyyy") #',
                                width: 100
                            },
                            {
                                field: "PaymentPeriod",
                                title: "Periode",
                                type: 'date',
                                template: '#= kendo.toString(PaymentPeriod, "MMM yyyy") #',
                                width: 100
                            },
                            {
                                field: "Classes",
                                title: "Kelas",
                                width: 200
                            },
                            {
                                field: "Price",
                                title: "Biaya",
                                width: 130,
                                attributes: {
                                    "class": "right"
                                }
                            },
                            {
                                field: "Penalty",
                                title: "Penalty",
                                width: 130,
                                attributes: {
                                    "class": "right"
                                }
                            }
            ]
        });
    }

</script>
}