﻿@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Selamat datang @User.Identity.Name, </h1>
                <h2>silakan pilih menu di bawah ini</h2>
            </hgroup>
            <p>
            </p>
        </div>
    </section>
}
<ol class="round floatleft mainmenu">
    <li>
        <a href="@Url.Action("Index", "Student")">
            <img src="~/Images/murid.png" />
            <h5>Data Murid</h5>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Class")">
            <img src="~/Images/kelas.png" />
            <h5>Daftar Kelas</h5>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Payment")">
            <img src="~/Images/pembayaran.png" />
            <h5>Pembayaran Murid</h5>
        </a>
    </li>
    @if (User.IsInRole("manajer"))
    {
        <li>
            <a href="@Url.Action("Index", "Teacher")">
                <img src="~/Images/pegawai.png" />
                <h5>Data Guru/Staf</h5>
            </a>
        </li>@*
        <li>
            <img src="~/Images/absen.png" />
            <h5>Pembayaran Pegawai</h5>
        </li>*@
        <li>
             <a href="@Url.Action("Index", "Report")">
            <img src="~/Images/keuangan.png" />
            <h5>Laporan Pembayaran</h5>
                 </a>
        </li>
    }
     <li>
             <a href="@Url.Action("DailyReport", "Report")">
            <img src="~/Images/keuangan.png" />
            <h5>Laporan Harian</h5>
                 </a>
        </li>
@if (User.IsInRole("manajer"))
{ 
    <li>                
        <a href="@Url.Action("WeeklyReport", "Report")">
            <img src="~/Images/keuangan.png" />
            <h5>Laporan Mingguan</h5>
        </a>
    </li>
    <li>
        <a href="@Url.Action("MonthlyReport", "Report")">
            <img src="~/Images/keuangan.png" />
            <h5>Laporan Bulanan</h5>
        </a>
    </li>
}
     <li>
             <a href="@Url.Action("OneTimePayment", "Payment")">
            <img src="~/Images/pembayaran.png" />
            <h5>Bayar per kali Datang</h5>
            </a>
        </li>
</ol>
