﻿@model Namarina2.Models.Class

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Class</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ClassCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ClassCode)
            @Html.ValidationMessageFor(model => model.ClassCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Type)
        </div>
        <div class="editor-field">
               @Html.DropDownListFor(model => model.Type, new List<SelectListItem>()
                                                        {new SelectListItem() {Selected = true, Text="Ballet", Value="Ballet" },
                                                         new SelectListItem() {Text="Jazz", Value="Jazz"},
                                                         new SelectListItem() {Text="Fitness", Value="Fitness"}},
                                                         new { @style = "height:25px;width:150px" })
        
            @Html.ValidationMessageFor(model => model.Type)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.SubType)
        </div>
        <div class="editor-field">
              @Html.DropDownListFor(model => model.SubType, new List<SelectListItem>()
                                                        {new SelectListItem() {Selected = true, Text="Ballet", Value="Ballet" },
                                                         new SelectListItem() {Text="Fitness", Value="Fitness"},
                                                         new SelectListItem() {Text="Graded", Value="Graded"},
                                                         new SelectListItem() {Text="Hiphop", Value="Hiphop"},
                                                         new SelectListItem() {Text="Special", Value="Special"},
                                                         new SelectListItem() {Text="Tambahan", Value="Tambahan"},
                                                         new SelectListItem() {Text="Vocational", Value="Vocational"}},
                                                         new { @style = "height:25px;width:150px" })
        
         @Html.ValidationMessageFor(model => model.SubType)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
