﻿@model Namarina2.Models.Class

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>
<h3>@Html.DisplayFor(model => model.ClassCode)</h3>
<h4>Pengajar : @{if (Model.TeacherAssignments != null && Model.TeacherAssignments.Count > 0) { 
                     @Model.TeacherAssignments.First().Teacher.Name; 
                 }}</h4>

<p>
    @foreach(var e in (List<Namarina2.Models.Student>)@ViewBag.StudentInClass)
    {
        <div style="margin-bottom:4px">@e.Name    @Html.ActionLink("Ganti Kelas", "ChangeClass", "Student", new { @id = e.StudentID }, new {@style="color:blue" })</div> 
        
    }
    
</p>

<p>
    @Html.ActionLink("Edit Kelas", "Edit", new { id=Model.ClassID }) @if(!Request.IsAjaxRequest())
                                                               {
                                                                   @Html.Raw("|")    @Html.ActionLink("Back to List", "Index")
                                                               }
</p>