﻿@model IEnumerable<Namarina2.Models.Class>

@{
    ViewBag.Title = "Index";
}
<input style="float: right; display: none; height: 25px" placeholder="Cari kelas" id="carikelas" />

<h2>Daftar Kelas</h2>

@if (User.IsInRole("manajer"))
{
    <p>
        @Html.ActionLink("Buat Kelas Baru", "Create")
    </p>
}
<p id="ajax-loader" style="text-align: center">
    preparing data..<br />
    <img src="~/Images/ajax-loader.gif" />
</p>

<div id="classes" style="display: none">
    <div id="tabstrip">
        <ul>
            <li class="k-state-active">Pusat
            </li>
            <li>Kebayoran
            </li>
        </ul>
        <div>
            <table>
                <tr>
                    <td>
                        <table id="grid-class-pusat">
                        </table>
                    </td>
                    <td>
                        <div style="margin-left: 20px" id="class-detail-pusat">
                        </div>
                        <div style="margin-left: 20px; display: none" id="ajax-loader2-pusat">
                            <img src="~/Images/ajax-loader.gif" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <table>
                <tr>
                    <td>
                        <table id="grid-class-kebayoran">
                        </table>
                    </td>
                    <td>
                        <div style="margin-left: 20px" id="class-detail-kebayoran">
                        </div>
                        <div style="margin-left: 20px; display: none" id="ajax-loader2-kebayoran">
                            <img src="~/Images/ajax-loader.gif" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var datasourcePusat = {};
        var datasourceKebayoran = {};
        var curBranch = "pusat";

        function onTabSelect(e) {
            $("#carikelas").val("");
            filterGrid();
            curBranch = $(e.item).find("> .k-link").text().toLowerCase();
        }

        function ViewClassDetail(e) {
            e.preventDefault();
            $("#class-detail-" + curBranch).hide();
            $("#ajax-loader2-" + curBranch).show();
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            $.ajax({
                type: "GET",
                cache: false,
                url: "@Url.Action("Details", "Class")",
                        data: { id: dataItem.ClassID },
                        success: function (data) {
                            $("#ajax-loader2-" + curBranch).hide();
                            $("#class-detail-" + curBranch).show();
                            $("#class-detail-" + curBranch).html(data);
                        }
                    });
                }

                $(document).ready(function () {
                    $("#tabstrip").kendoTabStrip({
                        select: onTabSelect,
                        animation: {
                            open: {
                                effects: "fadeIn"
                            }
                        }
                    });

                    $.ajax({
                        type: "GET",
                        cache: false,
                        url: "@Url.Action("GetClasses", "Class")" + "/?branch=pusat",
                success: function (data) {
                    datasourcePusat = data;
                    InitGrid("pusat");
                }
            });

            $.ajax({
                type: "GET",
                cache: false,
                url: "@Url.Action("GetClasses", "Class")" + "/?branch=kebayoran",
                success: function (data) {
                    datasourceKebayoran = data;
                    InitGrid("kebayoran");
                }
            });

            $("#carikelas").keyup(function () {
                filterGrid();
            });
                });

        function filterGrid() {
            $filter = new Array();

            $Name = $("#carikelas").val();

            if ($Name) {
                $filter.push({ field: "Name", operator: "contains", value: $Name });
            }

            var grid = $("#grid-class-" + curBranch).data("kendoGrid");
            grid.dataSource.filter($filter);
        }

        function InitGrid(branch) {

            $("#grid-class-" + branch).kendoGrid({
                dataSource: {
                    data: (branch == "pusat") ? datasourcePusat.classData : datasourceKebayoran.classData,
                    schema: {
                        model: {
                            fields: {
                                ClassCode: { type: "string" },
                                Name: { type: "string" },
                                StudentCount: { type: "number" }
                            }
                        }
                    },
                    pageSize: 10
                },
                dataBound: function (e) {
                    $('#ajax-loader').hide();
                    $('#classes').show();
                    $('#carikelas').show();
                },
                pageable: true,
                filterable: true,
                columns: [
                                {
                                    field: "ClassID",
                                    hidden: true
                                },
                                {
                                    field: "ClassCode",
                                    title: "Kode Kelas",
                                    width: 100
                                },
                                {
                                    field: "Name",
                                    title: "Nama Kelas",
                                    width: 200
                                },
                                {
                                    field: "StudentCount",
                                    title: "Jumlah Murid",
                                    width: 130,
                                    attributes: {
                                        "class": "center"
                                    }
                                },
                                {
                                    command: { text: "Lihat Murid", click: ViewClassDetail }, title: " ", width: "140px", attributes: {
                                        "class": "center"
                                    }
                                }
                ]
            });
        }
    </script>
}