﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    <link href="~/Content/kendo/2012.3.1114/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2012.3.1114/kendo.default.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("Sistem Informasi Namarina2", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        <li>
                            @Html.ActionLink("Student", "Index","Student")
                        </li>
                        <li>
                            @Html.ActionLink("Class","Index","Class")
                        </li>
                        <li>
                            @Html.ActionLink("Payment","Index", "Payment")
                        </li>
                        @if (User.IsInRole("manajer"))
                        {
                            <li>
                                @Html.ActionLink("Teacher/Staff","Index", "Teacher")
                            </li>
                            <li>
                                @Html.ActionLink("Payment Report","Index", "Report")
                            </li>
                        }
                        <li>
                        @Html.ActionLink("DailyReport", "DailyReport","Report")
                            </li>
@if (User.IsInRole("manajer"))
                        {
                        <li>
                            @Html.ActionLink("WeeklyReport", "WeeklyReport", "Report")
                        </li>
                        <li>
                            @Html.ActionLink("MonthlyReport", "MonthlyReport", "Report")
                        </li>
}
                        <li>
                            @Html.ActionLink("OneTimePayment", "OneTimePayment", "Payment")
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Namarina</p>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")

    <script src="~/Scripts/kendo/2012.3.1114/kendo.web.min.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            if ($("form").data("validator")) {
                $("form").data("validator").settings.ignore = ".ignore, :hidden, :disabled";
            }
        });
    </script>
</body>
</html>
