﻿@model Namarina2.Models.Guardian

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Guardian</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Relationship)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Relationship)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.LandlinePhoneNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LandlinePhoneNumber)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.MobilePhoneNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MobilePhoneNumber)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.OfficeName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OfficeName)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.OfficeAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OfficeAddress)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.OfficePhone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OfficePhone)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Job)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Job)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.IsMainGuardian)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsMainGuardian)
    </div>
</fieldset>
<p>
    
        @Html.ActionLink("Edit", "Edit", new { id=Model.GuardianID }) 
    @Html.ActionLink("Back to List", "Index", new { @studentId = Model.StudentID })
</p>
