﻿@model Namarina2.Models.Guardian

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Guardian</legend>
        @Html.HiddenFor(model=>model.StudentID)
        @Html.HiddenFor(model => model.GuardianID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Relationship)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Relationship, new List<SelectListItem>()
               {
                   new SelectListItem() {Text="Bapak", Value="Bapak"},
                   new SelectListItem() {Text="Ibu", Value="Ibu"},
                   new SelectListItem() {Text="Suami", Value="Suami"},
                   new SelectListItem() {Text="Kakek/Nenek", Value="Kakek/Nenek"},
                   new SelectListItem() {Text="Kakak/Adik", Value="Kakak/Adik"},
                   new SelectListItem() {Text="Saudara sepupu", Value="Saudara sepupu"},
                   new SelectListItem() {Text="Paman/Bibi", Value="Paman/Bibi"},
                   new SelectListItem() {Text="Lainnya", Value="Lainnya"}
               }, "-Pilih Hubungan-")
            @Html.ValidationMessageFor(model => model.Relationship)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LandlinePhoneNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LandlinePhoneNumber)
            @Html.ValidationMessageFor(model => model.LandlinePhoneNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MobilePhoneNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MobilePhoneNumber)
            @Html.ValidationMessageFor(model => model.MobilePhoneNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Job)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Job)
            @Html.ValidationMessageFor(model => model.Job)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OfficeName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OfficeName)
            @Html.ValidationMessageFor(model => model.OfficeName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OfficeAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OfficeAddress)
            @Html.ValidationMessageFor(model => model.OfficeAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OfficePhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OfficePhone)
            @Html.ValidationMessageFor(model => model.OfficePhone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsMainGuardian)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsMainGuardian)
            @Html.ValidationMessageFor(model => model.IsMainGuardian)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { studentId = Model.StudentID })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
