﻿@model IEnumerable<Namarina2.Models.Guardian>

@{
    ViewBag.Title = "Index";
}

<h2>Keluarga Murid - @ViewBag.StudentName</h2>

<p>
    @Html.ActionLink("Tambah data keluarga", "Create", new { @studentID = (int)ViewBag.StudentID})
</p>

@if(Convert.ToString(Request.QueryString["isRegistration"]) == "1")
{
    <div style="text-align: center">
    <ol class="round">
        <li class="one">&nbsp;&nbsp;&nbsp;&nbsp; Isi Biodata dan Kuesioner
        </li>

        <li class="two">&nbsp;&nbsp;&nbsp;&nbsp; Pilih kelas yang mau didaftar
        </li>

        <li class="three current">&nbsp;&nbsp;&nbsp;&nbsp; Lengkapi data keluarga
        </li>
    </ol>
</div>
<br />
}

<p id="ajax-loader" style="text-align:center">preparing data..<br />
<img src="~/Images/ajax-loader.gif" /></p>

<table id="grid-guardian" style="display:none">
</table>

@section scripts {
    <script type="text/javascript">

        var datasource = {};

        $(document).ready(function () {
            $.ajax({
                type: "GET",
                cache: false,
                url: "@Url.Action("GetGuardians", "Guardian")",
                data: {studentId : @ViewBag.StudentID},
                success: function (data) {
                    datasource = data;                   
                    InitGrid();
                }
            });           
        });

        function InitGrid() {
            $("#grid-guardian").kendoGrid({
                dataSource: {
                    data: datasource.guardianData,
                    pageSize: 10
                },
                dataBound: function (e) {
                    $('#ajax-loader').hide();
                    $('#grid-guardian').show();
                },               
                pageable: true,
                columns: [
                            {
                                field: "GuardianId",
                                hidden: true
                            },
                            {
                                field: "Name",
                                title: "Nama",
                                headerAttributes: {
                                    "class": "center",
                                }
                            },
                            {
                                field: "Relationship",
                                title: "Hubungan",
                                headerAttributes: {
                                    "class": "center",
                                },
                                attributes: {
                                    "class": "center"
                                }                               
                            },
                            {
                                field: "Email",
                                title: "Email",
                                headerAttributes: {
                                    "class": "center",
                                },
                                attributes: {
                                    "class": "center"
                                }
                            },
                            {
                                field: "MobilePhoneNo",
                                title: "No HP",
                                headerAttributes: {
                                    "class": "center",
                                },
                                attributes: {
                                    "class": "center"
                                }

                            },
                            {
                                field: "OfficeAddress",
                                title: "Alamat Kantor",                               
                                headerAttributes: {
                                    "class": "center",
                                }
                            },
                            {
                                field: "Job",
                                title: "Pekerjaan",
                                headerAttributes: {
                                    "class": "center",
                                },
                                attributes: {
                                    "class": "center"
                                }
                            },
                            {
                                command: [{ text: "Lihat Detail", click: showDetails }, { text: "Edit", click: edit}], title: " ", width: "140px", attributes: {
                                    "class": "center"
                                }
                            }
                ]            
            });           
        }

        function showDetails(e) {
            e.preventDefault();
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            location.href = "/Guardian/Details/" +dataItem.GuardianId;
        }

        function edit(e) {
            e.preventDefault(e);
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            location.href = "/Guardian/Edit/" +dataItem.GuardianId;
        }
        </script>
    }